ul li:first-child {
	background-color: #0000EE;
	color: #FFFFFF;
}

.second { 
	background-color:  #FF0000;
	color: #FFFFFF;
}

#third { 
	color: #000000;
	background-color: #FFFF00;
}


li+li {
	background-color: #FFA500;
	color: #FFFFFF;
}

ul li:nth-child(5){
	background-color: #00FF00;
	color: #FFFFFF;
}

p {
	margin-top: 0px;
    margin-bottom: 0px;
}

b~p{	
	background-color: #FFC0CB;
	color: #FFFFFF; 
}


ul li:last-child {
	background-color: #000000;
	color: #FFFFFF;
}
